* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

.board {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.row {
    display: flex;
}

.cell {
    display: flex;
    align-items: center;;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
}

.block {
    background-color: #000;
}

.empty {
    background-color: #a1a1a1;
}

.start {
    background-color: palegreen;
}

.end {
    background-color: tomato;
}

.path {
    background-color: peru;
}

.fill {
    background-color: floralwhite
}