* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}
body {
    background-color: #cccccc;
}

body::-webkit-scrollbar {
    width: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.canvas-container {
    display: flex;
    justify-content: center;
    width: calc(100vw - 10px);
    margin: 0 auto;
}

.board {
    width: fit-content;
}


input {
    padding: 4px;
    font-size: 18px;
}
button{
    padding: 5px;
    font-size: 18px;
}